body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.split {
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #2DB400;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
    overflow: hidden;
}

.left:hover {
    background-color: #9cf57f;
}

.right:hover {
    background-color: #9cf57f;
}

.text {
    position: relative;
    z-index: 2;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.split:hover .text {
    opacity: 0; /* 텍스트를 숨김 */
}

.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.split:hover .hover-image {
    opacity: 1;
}

/* 모바일 반응형 스타일 */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* 모바일에서는 위아래로 나뉨 */
    }

    .split {
        width: 100%;
        height: 50%; /* 세로 절반씩 차지 */
        font-size: 30px; /* 폰트 크기 줄임 */
    }

    .hover-image {
        width: 50%; /* 이미지 크기 조정 */
    }
}
